{% extends "sport_tracker/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Rewind back through your memories.</h1>

    <p class="lead">Make your own Sport Express, and keep a list of the 
        sports you enjoy. Whenever you learn something new about the sport,
        make an entry summarizing what you've enjoyed to share in the future.
    </p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}
